<div class="row">
    <div class="col-12 pb-1">
        <a class="text-decoration-none" asp-action="stock" asp-controller="manager">
            <div class="cat-item d-flex align-items-center mb-4">
                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                    <img class="img-fluid" src="../img/cat-1.jpg" alt="">
                </div>
                <div class="flex-fill pl-3">
                    <h6>Stock Manager</h6>
                  @*   <small class="text-body">100 Items</small> *@
                </div>
            </div>
        </a>
    </div>

    <div class="col-12 pb-1">
        <a class="text-decoration-none" asp-action="orders" asp-controller="manager">
            <div class="cat-item img-zoom d-flex align-items-center mb-4">
                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                    <img class="img-fluid" src="../img/cat-2.jpg" alt="">
                </div>
                <div class="flex-fill pl-3">
                    <h6>Order Manager</h6>
                   @*  <small class="text-body">100 Orders</small> *@
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 pb-1">
        <a class="text-decoration-none" asp-action="group" asp-controller="manager">
            <div class="cat-item img-zoom d-flex align-items-center mb-4">
                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                    <img class="img-fluid" src="../img/cat-2.jpg" alt="">
                </div>
                <div class="flex-fill pl-3">
                    <h6>Group Manager</h6>
                  @*   <small class="text-body">100 Groups</small> *@
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 pb-1">
        <a class="text-decoration-none" asp-action="category" asp-controller="manager">
            <div class="cat-item img-zoom d-flex align-items-center mb-4">
                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                    <img class="img-fluid" src="../img/cat-2.jpg" alt="">
                </div>
                <div class="flex-fill pl-3">
                    <h6>Category Manager</h6>
                   @*  <small class="text-body">100 Categories</small> *@
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 pb-1">
        <a class="text-decoration-none" asp-action="category" asp-controller="manager">
            <div class="cat-item img-zoom d-flex align-items-center mb-4">
                <div class="overflow-hidden full vertical-center" style="height: 100px;">
                    <div class="text-center">
                        <h6>Ads</h6>
                    </div>
                </div>

            </div>
        </a>
    </div>

</div>