@model IEnumerable<Store.Model.Hybrid.CategoryHybrid>
<!-- Start offcanvas filter sidebar -->
<div class="offcanvas__filter--sidebar widget__area">
    <button type="button" class="offcanvas__filter--close" data-offcanvas>
        <svg class="minicart__close--icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M368 368L144 144M368 144L144 368"></path></svg> <span class="offcanvas__filter--close__text">Close</span>
    </button>
    <div class="offcanvas__filter--sidebar__inner">
        <div class="single__widget widget__bg">
            <h2 class="widget__title h3">Categories</h2>
            <ul class="widget__form--check">
                @foreach(var cat in Model)
                {
                    <li class="widget__form--check__list">
                        <label class="widget__form--check__label" for="check6">@cat.Name</label>
                        <input class="widget__form--check__input" id="check6" value="@cat.Tag" type="checkbox">
                        <span class="widget__form--checkmark"></span>
                    </li>
                }
                
            </ul>
        </div>
        <div class="single__widget price__filter widget__bg">
            <h2 class="widget__title h3">Filter By Price</h2>
            <form class="price__filter--form" method="get" asp-action="index" asp-controller="shop">
                <div class="price__filter--form__inner mb-15 d-flex align-items-center">
                    <div class="price__filter--group">
                        <input class="hidden" name="fl" />
                        <label class="price__filter--label" for="Filter-Price-GTE">From</label>
                        <div class="price__filter--input">
                            <span class="price__filter--currency">₦</span>
                            <input class="price__filter--input__field border-0" name="lPrice" id="Filter-Price-GTE" type="number" placeholder="0" min="0" max="250.00">
                        </div>
                    </div>
                    <div class="price__divider">
                        <span>-</span>
                    </div>
                    <div class="price__filter--group">
                        <label class="price__filter--label" for="Filter-Price-LTE">To</label>
                        <div class="price__filter--input">
                            <span class="price__filter--currency">₦</span>
                            <input class="price__filter--input__field border-0" name="hPrice" id="Filter-Price-LTE" type="number" min="0" placeholder="250.00" max="250.00">
                        </div>
                    </div>
                </div>
                <button class="btn price__filter--btn" type="submit">Filter</button>
            </form>
        </div>
    </div>
</div>
<!-- End offcanvas filter sidebar -->