<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <div>
                <h5>No Content Found!</h5>
            </div>
        </div>
    </div>
</div>
