<div class="modal" id="modal1" data-animation="slideInUp">
    <div class="modal-dialog quickview__main--wrapper">
        <header class="modal-header quickview__header">
            <button class="close-modal quickview__close--btn" aria-label="close modal" id="closeBtn" data-close>✕ </button>
        </header>
        <div class="quickview__inner">
            <div class="row " id="quickViewID">
              
            </div>
        </div>
    </div>
</div>