@model Store.Model.ViewModel.MainVM
@{
    ViewData["Title"] = "Add New Group";
}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" asp-action="index" asp-controller="manager">Manager</a>
                <a class="breadcrumb-item text-dark" asp-action="group" asp-controller="manager">Group</a>
                <span class="breadcrumb-item active">New</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Contact Start -->
<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Add New Group</span></h2>

    
    <div class="row px-xl-5">
        <div class="col-lg-7 bg-light p-30">
            <h6 class="bold uppercase">Add A New Group</h6>
            <p class="mb-4">
                Each category must be part of a group.<br />
                <hr />
            </p>
            <form asp-action="creategroup" asp-controller="manager" method="post">
                <h6 class="bold uppercase">Add New Group</h6>
                <div class="control-group mb-1">
                    <input type="text" class="form-control" id="name" name="Group.Name" placeholder="Group Name" required />
                </div>
                <div>
                    <button class="btn btn-primary py-2 px-4 full" type="submit" id="sendMessageButton">
                        Save Group <i class="fa fa-save"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-lg-5">
            <div class="bg-light p-30 mb-30">
            </div>
            @*   <div class="bg-light p-30 mb-3">
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, New York, USA</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
            <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
            </div>*@
        </div>
    </div>
    <partial name="_commonNav" />
</div>
<!-- Contact End -->
