@model Store.Model.ViewModel.MainVM

@if (Model.Favourite.Count() > 0)
{
     <section class="product__section section--padding pt-0">
        <div class="container" style="display:block !important">
            <div id="product_all" class="tab_pane active show">
                <div class="product__section--inner">
                    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-2 mb--n28">
                        <partial name="_itemTemp" model="@Model.Favourite" />
                    </div>

                </div>
            </div>
        </div>
     </section>
  
    <div class="container pt-4 mt-3 mb-5">
        <div class="col-12 text-center pt-5">
            <button class="btn btn-danger" onclick="ClearFave()">Clear Watchlist <i class="fa fa-trash"></i></button>
        </div>
    </div>
}
else
{
    <div class="container pt-3 pb-3">
        <div class="row">
            <partial name="_nocontent" />
        </div>
    </div>
}
