
@{
    ViewData["Title"] = "Shopping Cart";
}



<!-- Breadcrumb Start -->
<section class="breadcrumb__section breadcrumb__bg">
    <div class="container">
        <div class="row row-cols-1">
            <div class="col">
                <div class="breadcrumb__content text-center">
                    <h1 class="breadcrumb__content--title text-white mb-25">Shopping Cart</h1>
                    <ul class="breadcrumb__content--menu d-flex justify-content-center">
                        <li class="breadcrumb__content--menu__items"><a class="text-white" asp-action="index" asp-controller="home">Home</a></li>
                        <li class="breadcrumb__content--menu__items"><a class="text-white" asp-action="index" asp-controller="shop">Shop</a></li>
                        <li class="breadcrumb__content--menu__items"><span class="text-white">Shopping Cart</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb End -->
<div id="cartHolder">
    <div class="text-center mt-4 mb-10">
        <img src="../gif/loader.gif" style="width:70px" />
    </div>
</div>
@section scripts {
    
  <script>
        reload = true;
        const getCartData = localStorage.getItem('cart');
      //  console.log(getCartData)
        $.ajax({
            type: "POST",
            url: '/shop/getcart',
            data: JSON.stringify(getCartData),
            contentType: "application/json;",
            success: function (response) {

                var cartHolder = document.getElementById("cartHolder");
                cartHolder.innerHTML = response;
            },
            error: function (response) {
                /*  alert("bad");*/
            }

        });
  </script>
}
