
@{
    ViewData["Title"] = "Cart CheckOut";
}
<!-- Breadcrumb Start -->
<section class="breadcrumb__section breadcrumb__bg">
    <div class="container">
        <div class="row row-cols-1">
            <div class="col">
                <div class="breadcrumb__content text-center">
                    <h1 class="breadcrumb__content--title text-white mb-25">Cart Checkout</h1>
                    <ul class="breadcrumb__content--menu d-flex justify-content-center">
                        <li class="breadcrumb__content--menu__items"><a class="text-white" asp-action="index" asp-controller="home">Home</a></li>
                        <li class="breadcrumb__content--menu__items"><a class="text-white" asp-action="index" asp-controller="shop">Shop</a></li>
                        <li class="breadcrumb__content--menu__items"><span class="text-white">Cart Checkout</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb End -->
<!-- Checkout Start -->
<div class="container-fluid" id="checkOutHolder">
    <div class="text-center">
        <img src="../gif/loader.gif" style="width:70px" />
    </div>
</div>
<!-- Checkout End -->
@section scripts {
    <script>
        const getCartData = localStorage.getItem('cart');
        // var cartHolder = document.getElementById("cartHolder");
        // cartHolder.value = JSON.stringify(getCartData);

        $.ajax({
            type: "POST",
            url: '/shop/getcheckout',
            data: JSON.stringify(getCartData),
            contentType: "application/json;",
            success: function (response) {
                var checkOutHolder = document.getElementById("checkOutHolder");
                checkOutHolder.innerHTML = response;

                const getCartData = localStorage.getItem('cart');
                var cartDetails = document.getElementById("cartDetails");
                cartDetails.value = getCartData;
            },
            error: function (response) {
                /*  alert("bad");*/
            }

        });
    </script> 
}
