@{
    ViewData["Title"] = "Watchlist";
}
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" asp-action="index" asp-controller="home">Home</a>
                <a class="breadcrumb-item text-dark" asp-action="index" asp-controller="shop">Shop</a>
                <span class="breadcrumb-item active">Watchlist</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb Ends -->

<div id="faveHolder">
    <div class="text-center">
        <img src="../gif/loader.gif" style="width:70px" />
    </div>
</div>

@section scripts {
    <script>
        const getFaveData = localStorage.getItem('fave');

        $.ajax({
            type: "POST",
            url: '/shop/getFave',
            data: JSON.stringify(getFaveData),
            contentType: "application/json;",
            success: function (response) {
                var faveHolder = document.getElementById("faveHolder");
                faveHolder.innerHTML = response;
            },
            error: function (response) {
                /*  alert("bad");*/
            }

        });
    </script>
}
