@model IEnumerable<Store.Model.Knowledge>
@{
    ViewData["Title"] = "Information Center";
}

<main class="main__content_wrapper">

    <!-- Start breadcrumb section -->
    <section class="breadcrumb__section breadcrumb__bg">
        <div class="container">
            <div class="row row-cols-1">
                <div class="col">
                    <div class="breadcrumb__content text-center">
                        <h1 class="breadcrumb__content--title text-white mb-25">Information Center</h1>
                        <ul class="breadcrumb__content--menu d-flex justify-content-center">
                            <li class="breadcrumb__content--menu__items"><a class="text-white" asp-action="index" asp-controller="home">Home</a></li>
                            <li class="breadcrumb__content--menu__items"><a class="text-white" asp-action="index" asp-controller="shop">Shop</a></li>
                            <li class="breadcrumb__content--menu__items"><span class="text-white">Information Center</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End breadcrumb section -->
    <!-- Start product details section -->
    <section class="product__details--section  section--padding pt-3">
        <div class="container">
            <div class="row">
                <h3>Showing @Model.Count() of @Model.Count()</h3>
                <h4>Use the search menu for quicker and extensive results</h4><br />
            </div>
            <div >
           
                <table class="table">
                    @foreach (var info in Model)
                    {
                        <tr>
                            <td>
                                <a asp-action="information" asp-controller="shop" asp-route-tag="@info.Tag">@info.Question</a>
                            </td>
                        </tr>
                    }                 
                </table>
            </div>
        </div>
    </section>
</main>
