
@{
    ViewData["Title"] = "Order";
}
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12 text-center p-30 bg-light">

        </div>
    </div>
</div>