@model Store.Model.ViewModel.LoginVM
@{
    ViewData["Title"] = "Order Tracking";
}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" asp-action="index" asp-controller="home">Home</a>
                <a class="breadcrumb-item text-dark" asp-action="index" asp-controller="shop">Shop</a>
                <span class="breadcrumb-item active">Order Tracking</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Contact Start -->
<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Order Tracking</span></h2>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form bg-light p-30 mb-2">
                <div id="success"></div>
                <form name="sentMessage" id="contactForm" novalidate="novalidate">
                    <div class="control-group">
                        <input type="text" class="form-control" id="name" placeholder="Order Tracking ID"
                               required="required" data-validation-required-message="Enter Order Tracking Number" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div>
                        <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">
                           Track Order
                        </button>
                    </div>
                </form>
            </div>
            <p class="text-muted">To get full updates about your order with a single button click, enter your Tracking ID above and click <b>Track Order</b> to proceed. For further information and enquiries, contact us.</p>
        </div>
        
    </div>
</div>
<!-- Contact End -->
